In [1]:
#Program to accept the details of student like name,roll number and mark and display it

sname=input("Enter the name :")
rollno=int(input("Enter the roll number :"))
mark=int(input("Enter the mark :"))
print("Name :",sname)
print("Roll No :",rollno)
print("Mark :",mark)

Enter the name :Anjana
Enter the roll number :12
Enter the mark :80
Name : Anjana
Roll No : 12
Mark : 80

In [2]:
#Program to convert temperature from Fahrenheit to Celsius

ftemp=float(input("Temperature in Fahrenheit = "))
celsius=(ftemp-32)*5/9
print("Temperature in Celsius = ",celsius)

Temperature in Fahrenheit = 41
Temperature in Celsius =  5.0

In [3]:
#Program to accept two numbers from user and display its product

num1=int(input("Enter the first number :"))
num2=int(input("Enter the second number :"))
product=num1*num2
print(num1 ,"*", num2," =",product)

Enter the first number :3
Enter the second number :4
3 * 4  = 12

In [4]:
#Program to display the string "Learn**Python**by Developing a**Website**"

str1="Learn Python by Developing a Website"
str2="**"
print(str1[0:5]+str2+str1[6:12]+str2+str1[13:28]+str2+str1[29:]+str2)

Learn**Python**by Developing a**Website**

In [5]:
#Program to accept the radius of circle and display its area

import math
rad=int(input("Enter the radius of circle :"))
area=math.pi*rad**2
print("Area of circle= ",area)

Enter the radius of circle :4
Area of circle=  50.26548245743669

In [6]:
#Program to insert a number to any position in a list

list1=[23,45,67,21]
print(list1)
number=int(input("Enter the number to be inserted :"))
position=int(input("Enter the position :"))
list1.insert(position,number)
print("New List :",list1)

[23, 45, 67, 21]
Enter the number to be inserted :30
Enter the position :2
New List : [23, 45, 30, 67, 21]

In [7]:
#Program to rename a key City to Location in dictionary

sample_dic={"name":"John","age":50,"salary":8000,"city":"New York"}
print(sample_dic)
sample_dic["Location"]=sample_dic["city"]
del sample_dic["city"]
print(sample_dic)

{'name': 'John', 'age': 50, 'salary': 8000, 'city': 'New York'}
{'name': 'John', 'age': 50, 'salary': 8000, 'Location': 'New York'}

In [8]:
#Program to change Brad's salary from 500 to 8500

sample_dic={"emp1":{"name":"John","salary":7500},"emp2":{"name":"Emma","salary":8000},"emp3":{"name":"Brad","salary":500}}
print(sample_dic)
sample_dic['emp3']['salary']=8500
print(sample_dic)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [9]:
#Program to copy elements 43 and 54 from one tuple to new tuple

tuple1=(10,20,43,54,68)
print(tuple1)
newtuple=tuple1[2:4]
print("New tuple=",newtuple)

(10, 20, 43, 54, 68)
New tuple= (43, 54)

In [10]:
#Program to count the number of occurence of item 50

tuple1=(50,10,60,70,50,83,567,50,81)
print("Number of occurence of 50= ",tuple1.count(50))

Number of occurence of 50=  3